*{
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.navigation_bar{
    display: flex;
    margin: 50px ;
    justify-content: space-between;
}

.main_container{
    margin:30px 0px 150px 0px;
}

h1{
    text-align: center;
    font-size: 40pt;
    font-style: italic;
}

h2{
    text-align: center;
    font-size: 25pt;
    font-style: italic;
}

p{
    text-align: justify;    
    font-size: 17pt;
    margin-left: 10%;
    margin-right: 10%;
}

#logo{
    width:15%;
    object-fit: contain;
    min-width: 130px;
}

#logo:hover{
    opacity: 0.6;
}

#search_bar[type=text] {
    width: 40px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("images/search_icon.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
#search_bar[type=text]:focus {
    width: 100%;
    outline:0;
}

#search_btn{
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
}

#open_nav:hover{
    opacity: 0.5;
}

#open_nav{
    margin:3px 15px 0px 15px;
}

#search_menu{
    display: flex;
    flex-direction: row;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover, #category_shop_div a:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#category_shop_div a{
    color: #818181;
    padding: 8px 8px 8px 65px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #category_shop_div {font-size: 13px;}
}

#home_img{
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 75%;
}

#text_div{
    margin: 10% 10% 10% 10%;

}

.container {
    position: relative;
    width: 100%;
}
  
.container .container_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    opacity: 0.6;
    color: #D7D9DA;
    font-size: 30px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
  
.container .container_btn:hover {
    opacity: 1;
}

#all_items_img{
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.category_img{
    object-fit: contain;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    width:100%;
    opacity:0.6;
}

#collection_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#all_items_img:hover, .category_img:hover{
    opacity:0.4;
}

.text_container{
    position: relative;
    text-align: center;
    padding:0px 20px 0px 20px;
    width:40%;
}

#all_items_container{
    position: relative;
    text-align: center;
    width:75%
}

.img_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 4vw;
    font-style: italic;
}

#category_container, #item_container, #contact_navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 50px 50px 50px;
}

#item_container{
    flex-wrap: wrap;
}



.navigation_div{
    width:23%;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    background-color: #222;
    border-radius: 40px;
    padding-top: 30px;
    margin-right: 50px;
    min-width: 200px;
}

.navigation_div_2{
    width:17%;
    display: flex;
    flex-direction: column;
    line-height: 10px;
    background-color: #222;
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    width: 80%;
}

.navigation_div_2 div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 20px 20px 20px;
}

.navigation_div a, .navigation_div_2 a{
    font-size: calc(13px + 0.8vw);
    text-align: center;
    color: #818181;
    text-decoration: none;
}

.navigation_div_2 a{
    margin: 10px 5px 10px 5px;
}

.navigation_div a:hover, .navigation_div_2 a:hover{
    color:white;
}

.navigation_div h2, .navigation_div_2 h2{
    color: #D7D9DA;
    font-size: calc(16px + 2vw);
}

.items_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width:80%;
}

.item_div, .set_div{
    display: flex;
    flex-direction: column;
    padding:5px;
    width: 250px;
}

.item_div img, .set_div img{
    width:100%;
    object-fit: contain;
    padding: 15px 0px 0px 0px;
}

.description_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description_div span{
    text-align: center;
}

.description_div #item_name{
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    padding:15px 0px 15px 0px;
}

.collapsible {
    background-color: #222;
    color: #818181;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: calc(13px + 0.8vw);
}

.collapsible:last-of-type{
    margin-bottom: 20px;
}
  
.collapsible:after {
    content: '\002B';
    color: #818181;
    font-weight: bold;
    float: center;
    margin-left: 30px;
}
  
.active:after {
    content: "\2212";
}
  
.colour, .price {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #222;
    text-align: center;
    border-radius: 40px;
}

.price{
    margin-bottom: 20px ;
}

.options{
    color: #818181;
}

.filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.each_colour{
    margin:5px 5px 5px 5px;
}

.navigation_div button:hover{
    color:white;
}

.item_img:hover{
    opacity: 0.7;
}

.price_input{
    background-color: #D7D9DA;
    border: none;
    width: 6.5vh;
    height:25px;
    font-size: calc(10px + 0.4vw);
    margin:0.5vh;
    border-radius: 10px;
    text-align: center;
}

.price_input[type=number]:focus {
    outline:0;
    background-color: white;
}

.price span{
    color:#818181;
    font-size: calc(10px + 0.4vw);
}

.filter_price{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.filter_price form{
    display:inline-block;
}

#price_submit{
    padding:5px;
    background-color: #D7D9DA;
    font-size:medium;
    border-radius: 5px;
    display:inline-block;
}

#price_submit:hover{
    background-color: white;
}

.item_details{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width:35%;
}

.item_details span{
    text-align: justify;
}

.item_details p{
    font-style: italic;
}

.colour_select_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#colour_drop{
    width:80%;
    margin: auto;
    font-size: 15pt;
    background-color: #444;
    color: #D7D9DA;
    height: 40px;
}

#others_title{
    width:100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom:40px;
}

.other_items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.other_items div{
    margin:20px 20px 20px 20px;
}

.images{
    width:20%;
}

.item_imgs{
    width:45%;
    min-width: 350px;
}

.item_imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:60%;
}

.main_img_div img, .small_imgs img{ 
    width:100%;
}

.small_imgs img{
    width:45%;
    object-fit: contain;
    margin: 5px 5px 5px 5px;
}

.main_img_div{
    width:65%;
}

.small_imgs{
    width:30%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:600px;
}

.small_imgs img:hover{
    opacity: 0.7;
    border: solid 3px black;
}

@media (max-width: 1400px) {
    .small_imgs {
     height:450px;
    }
}

#item_container h1{
    margin-top: 0px;
    margin-bottom: 10px;
}

#contact_btn{
    display: block;
    margin:auto;
    font-size: large;
    border-radius: 5px;
}

#contact_btn:hover{
    border: solid 2px black;
}

#contact_form input{
    font-size: large;
    padding: 5px 5px 5px 5px;
}

#contact_form p{
    width: fit-content;
    display: block;
    margin: 50px auto;
}

#contact_form:first-child{
    margin-top: 100px;
}

#success_div p{
    text-align: center;
}

#success_div a{
    color:blue;
}
