{% extends "web_app/base.html" %}
{% load static %}

{% block title %}
    Collection
{% endblock %}

{% block body %}
<div class='main_container'>
    <h1>Collection</h1>
    <div id='collection_div'>
        <div id='all_items_container'>
            <img alt="All items" class='category_img' id='All items' id='all_items_img' src="{% static 'web_app/images/all_items.jpg' %}">
            <div class='img_text'>All items</div>
        </div>
        {% for category in categories %}
            <div class='text_container'>
                <img alt={{category.category_name}} class='category_img' id={{category.category_name}} src="{% static 'web_app/images/' %}{{category.category_name}}.jpg">
                <div class='img_text'>{{category.category_name}}</div>
            </div>
        {% empty %}
            <li>No categories</li>
        {% endfor %}
    </div>
</div>
{% endblock %}